body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#background{
	background-color: #104E8B;
	min-height: 100%;
	width: 100%;
}

.whiteText{
	color:white;
}

#oreButton{
	background: url(http://img.ctrlv.in/img/16/03/19/56eda04e4bb72.png);
	height: 150px;
	width: 150px;
	position: absolute;
	margin-left: 550px;
	margin-top: 50px;
	

}

a:hover {
	cursor:pointer;
}

#shopTitle{
	background: url(http://img.ctrlv.in/img/16/03/19/56eda0deba56a.png);
	height: 131px;
    width: 800px;
}

#opc{
	position: absolute;
	text-align: center;
	margin-top: 200px;
	margin-left: 540px;
}



#ironNum{
	color: #808080;
}
#goldNum{
	color: #D4AF37;
}
#copperNum{
	color: #cd7f32;
}
#tinNum{
	color: darkgrey;
}
#lithiumNum{
	color: #A9A9A9;
}
#diamondNum{
	color: lightblue;
}
#moneyNum{
	color: #458B00;
}
#energyNum{
	color: #b3b300;
}
.button{
	background-color: orange;
	color: black;
}
.sellButton{
	background-color: gold;
}
