body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#background{
	background:url(http://static.giantbomb.com/uploads/square_small/18/180391/2425972-fiber_carbon_tiled_pattern_background_vol.11.jpg);
	height: 100%;
	width: 100%;
}

.whiteText{
	color:white;
}

#oreButton{
	background: url(http://img.ctrlv.in/img/16/03/23/56f29f53707fe.png);
	height: 150px;
	width: 150px;
	position: absolute;
	margin-left: 550px;
	margin-top: 50px;
	padding-bottom: 100px;
	

}

a:hover {
	cursor:pointer;
}

#opc{
	position: absolute;
	text-align: center;
	margin-top: 200px;
	margin-left: 520px;
}



#ironNum{
	color: #808080;
}
#goldNum{
	color: #D4AF37;
}
#copperNum{
	color: #cd7f32;
}
#tinNum{
	color: darkgrey;
}
#lithiumNum{
	color: #A9A9A9;
}
#diamondNum{
	color: lightblue;
}
#moneyNum{
	color: #458B00;
}
#energyNum{
	color: #b3b300;
}
.bold{
	font-weight: bold;
}
